<div class="modal-header">
  <h1 class="modal-title">注册新账户</h1>
</div>
<div class="modal-body">
  <form class="form-group">
    <div class="form-group">
      <label for="fu-login-username">
        用户名：
      </label>
      <input type="text"
             id="fu-login-username"
             class="form-control"
             ng-disabled="processing"
             ng-model="username">
      </input>
    </div>
    <div class="form-group">
      <label for="fu-login-password">
        密码：
      </label>
      <input type="password"
             id="fu-login-password"
             class="form-control"
             ng-disabled="processing"
             ng-model="password">
      </input>
    </div>
    <div class="form-group">
      <label for="fu-login-password">
        确认密码：
      </label>
      <input type="password"
             id="fu-login-password"
             class="form-control"
             ng-disabled="processing"
             ng-enter="register()"
             ng-model="confirmPWD">
      </input>
    </div>
  </form>
  <alert ng-show="error!=undefined"
         type="danger"
         close="removeError()">
         {{error}}
  </alert>
</div>
<div class="modal-footer">
  <button ng-click="cancel()"
          class="btn btn-warning"
          ng-disabled="processing">
    取消
  </button>
  <button ng-click="register()"
          class="btn btn-primary"
          ng-disabled="processing">
    <span ng-show="!processing">注册</span>
    <span ng-show="processing">注册中...</span>
  </button>
</div>

